<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1682267825186-da88784ec9aa?q=80&w=1325&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Save any kind of movies !</h1>
    <a class="btn btn-success" href="/lists/new">Create a list now !</a>
  </div>
</div>

<div class="container">
  <h2>My Lists</h2>
  <ul>

    <% @lists.each do |list| %>
      <% image_url = list.photo.attached? ? cl_image_path(list.photo.key, height: 300, crop: :fill) : asset_path("hollywood-hill.jpg") %>
      <div class="card-category"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url %>')">
        <%= link_to list.name, list_path(list), class: "btn btn-success" %>
      </div>
    <% end %>


  </ul>

  <%= link_to "Create a new list", new_list_path, class: "btn btn-success" %>
</div>
