.navbar-lewagon {
  justify-content: space-between;
  background: #3C4955;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #ECEEF1;
  font-size: 18px;
}
