// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "components/navbar";
@import "components/footer";
@import "components/cards";
@import "components/cards_product";

.btn-success {
  background-color: #778B9F;
  border-color: #778B9F;
  border-radius: 4px;
}

h2 {
  color: white;
}

html, body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

body {
  background: linear-gradient(#EEEFF3, #DCDFE7);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}
